<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hcm.core.orders.mapper.InventoryMapper">
    <resultMap id="BaseResultMap" type="hcm.core.orders.dto.Inventory">
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL"/>
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR"/>
        <result column="ITEM_DESCRIPTION" property="itemDescription" jdbcType="VARCHAR"/>
    </resultMap>
	
	<select id="selectAllItems" parameterType="hcm.core.orders.dto.Inventory" resultMap="BaseResultMap">
			select * from hap_inv_inventory_items c
			<where>
        	<if test="inventoryItemId!= null">
                and c.INVENTORY_ITEM_ID = #{inventoryItemId,jdbcType=DECIMAL}
            </if>
            <if test="itemCode!= null">
                and c.ITEM_CODE = #{itemCode,jdbcType=VARCHAR}
            </if>
            <if test="itemDescription!= null">
                and c.ITEM_DESCRIPTION = #{itemDescription,jdbcType=VARCHAR}
            </if>
            </where>
    </select>
   
</mapper>